.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./img/pozadina.jpg");
  background-size: cover;
  background-position: center;
}
