.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Promenjeno u min-height */
  background-image: url("./img/novo.png");
  background-size: cover;
  background-position: center;
}
