.stavke-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  flex-wrap: wrap;

  border-style: double;
  padding: inherit;
  border-color: #8fb415;
  border-radius: 10%;

  height: fit-content;
  background: rgba(255, 255, 255, 0.3);
  padding: 3em;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
}

.selected {
  background-color: #099142;
  color: #fff;
}
