.container-otprema {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border-style: dashed;
  border-color: #8fb415;
  border-radius: 10%;
  margin: 30px;
  padding: 40px;
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
}
