.container-otprema {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border-style: dashed;
  padding: inherit;
  border-color: rgba(114, 111, 118, 0.37);
  border-radius: 10%;
  margin: 30px;
  padding: 40px;
}
