.readonly-input {
  background-color: #ddd;
}

.form-row {
  margin: 17px;
}
.obrisi-forma {
  border-style: dashed;
  padding: inherit;
  border-color: rgba(114, 111, 118, 0.37);
  border-radius: 10%;
  margin: 30px;
  padding: 40px;
}

.obrisi-forma .pretrazi-button {
  /* margin-left: 10px; */
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.obrisi-forma .pretrazi-button:hover {
  background-color: #0056b3;
}

.obrisi-forma .pretrazi-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}
